$lightestGrey : #f8f9fa;
$lighterGrey : #e9ecef;
$lightGrey: #dee2e6;
$Grey : #ced4da;
$darkGrey : #adb5bd;
$darkerGrey : #6c757d;
$darkestGrey : #495057;
$lightBlack : #343a40;
$Black : #212529;


.app{
     display: flex;
     justify-content: center;
     .container{
          width: 1024px;

          .link{
               text-decoration: none;
               color: inherit;
          }
          // Login & Register

          .auth{
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               height: 100vh;
               background-color: white;
          }

          h1{
               font-size: 30px;
               color: $darkestGrey;
               margin-bottom: 20px;
          }

          form{
               display: flex;
               flex-direction: column;
               padding: 50px;
               background-color: $lightestGrey;
               width: 200px;
               gap: 20px;

               input{
                    padding: 10px;
                    border: none;
                    background-color:$lightestGrey;
                    border-bottom: 1px solid $darkerGrey;
               }

               button{
                    padding: 10px;
                    border: none;
                    background-color: $darkestGrey;
                    color: white;
                    cursor: pointer;
               }

               p{
                    font-size: 12px;
                    color: red;
                    text-align: center;
               }

               span {
                    font-size: 12px;
                    text-align: center;
               }

          }

          // NAVBAR

          .navbar {
               .container{
                    padding: 10px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .logo{
                         img{
                              width: 150px;
                         }
                    }
                    .links{
                         display: flex;
                         align-items: center;
                         gap: 10px;
                    }

                    h2{
                         font-size: 16px;
                         font-weight: 300;
                    }

                    span{
                         cursor: pointer;
                    }

                    .write{
                         background-color: $lighterGrey;
                         width: 60px;
                         height: 60px;
                         border-radius: 50%;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         font-weight: 300;

                         &:hover{
                              color: white;
                              background-color: $lightBlack;
                         }
                    }
               }
          }

          // footer

          footer{
               margin-top: 100px;
               display: flex;
               align-items: center;
               justify-content: space-between;
               background-color: $lightestGrey;
               font-size: 12px;
               img{
                    height: 100px;
               }
          }

          // HOME

          .home{
               .posts{
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    gap: 150px;

                    .post {
                         display: flex;
                         gap: 100px;

                         &:nth-child(2n+1){
                              flex-direction: row-reverse;
                         }
     
                         .img{
                              flex: 2;
                              position: relative;

                              &::after{
                                   content: "";
                                   width: 100%;
                                   height: 100%;
                                   background-color: $lighterGrey;
                                   position: absolute;
                                   top: 20px;
                                   left: -20px;
                                   z-index: -1;
                              }

                              img{
                                   width: 100%;
                                   max-height: 400px;
                                   object-fit: cover;
                              }
                         }
                         .content{
                              flex: 3;
                              display: flex;
                              flex-direction: column;
                              justify-content: space-between;

                              h1{
                                   font-size: 40px;
                              }
                              
                              p{
                                   font-size: 18px;
                              }

                              button{
                                   width: max-content;
                                   padding: 10px 20px;
                                   cursor: pointer;
                                   border: none;
                                   background-color: $lighterGrey;

                                   &:hover{
                                        color: white;
                                        background-color: $lightBlack;
                                   }
                              }
                         }
                    }
               }
          }
     }
}